# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Fichiers temporaires
*.log
*.tmp
*.bak
*.swp

# Données générées localement
backups/
exports/
logs/

# Fichiers temporaires SQLite
*.db-wal
*.db-shm
*.db-journal
